@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Sora:wght@500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c9ff0;
}

.speech-container {
  padding: 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
  width: min(100%, 750px);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.speech-container,
textarea {
  color: white;
  background-color: #131f29e8;
}

.speech-container h1 {
  font-size: clamp(30px, 5vw, 50px);
  margin-bottom: 1rem;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 1rem;
}

select {
  outline: 0;
  border: 0;
  color: #000;
  background-color: #fff;
  text-align: left;
  padding: 13px 13px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

textarea {
  all: unset;
  resize: none;
  word-break: break-word;
  padding: 0.5rem;
  color: white;
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  border: 1px solid #fff;
  border-radius: 0.3rem;

  &::placeholder {
    color: #fff;
  }

  &:focus {
    outline: 2px solid #fff;
    border: none;
    border-radius: 0.3rem;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffffffcd;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff46;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
    border-radius: 10px;
  }
}

#speakButton,
#stopButton {
  width: 10rem;
  padding: 0.8rem;
  flex: 1;
  cursor: pointer;
  color: #03235b;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #03235b;
  transition: all 0.3s linear;

  &:hover {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 500px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  #speakButton,
  #stopButton {
    width: 100%;
  }
}

.voiceRate {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rateLabel {
  margin-right: 10px;
}

.voiceRate > input {
  flex: 1;
}

.rateValue {
  width: 20px;
  text-align: right;
}
